<config verbose="true">
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<default caps="100"/>

	<start name="platform_drv" managing_system="yes">
		<resource name="RAM" quantum="4M"/>
		<provides> <service name="Platform"/> </provides>
		<config>
			<device name="ethernet" type="opencores,ethoc">
				<io_mem   address="0x600000" size="0x1000"/>
				<!-- DMA memory as io_mem resource in SRAM -->
				<io_mem   address="0x1080000" size="0x40000"/>
				<irq      number="22"/>
			</device>
			<policy label="nic_drv -> " info="yes">
				<device name="ethernet"/>
			</policy>
		</config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="nic_drv">
		<binary name="opencores_nic_drv"/>
		<resource name="RAM" quantum="6M"/>
		<config phy_port="0" mac="02:00:00:00:00:03"/>
		<route>
			<service name="Platform"> <child name="platform_drv"/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="IO_MEM"> <parent/> </service>
			<service name="IRQ">    <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="ROM">    <parent/> </service>
			<service name="Uplink"> <parent/> </service>
			<service name="Timer"> <parent/> </service>
		</route>
	</start>

</config>
